@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fira Code";
    src: url("./assets/fonts/FiraCode-Regular.woff") format("woff2");
}

@font-face {
    font-family: "Argon";
    src: url("./assets/fonts/MonaspaceArgon-Light.woff") format("woff2");
}

@font-face {
    font-family: "Neon";
    src: url("./assets/fonts/MonaspaceNeon-Light.woff") format("woff2");
}

@font-face {
    font-family: "Radon";
    src: url("./assets/fonts/MonaspaceRadon-Light.woff") format("woff2");
}

@font-face {
    font-family: "Xenon";
    src: url("./assets/fonts/MonaspaceXenon-Light.woff") format("woff2");
}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.noScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-pure {
    background-image: url("./assets/pure-background.svg");
}